<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>20446372973-0jgl4u081uv1f8tvpqf5it49c9nf0ims.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20446372973-0jgl4u081uv1f8tvpqf5it49c9nf0ims</string>
	<key>API_KEY</key>
	<string>AIzaSyBHZbQ-dDrkHaPEHc7NKgU84Fbydswefec</string>
	<key>GCM_SENDER_ID</key>
	<string>20446372973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.newsumm.newsumm</string>
	<key>PROJECT_ID</key>
	<string>newsumm-70f1d</string>
	<key>STORAGE_BUCKET</key>
	<string>newsumm-70f1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20446372973:ios:97209a675f6b9e9f</string>
	<key>DATABASE_URL</key>
	<string>https://newsumm-70f1d.firebaseio.com</string>
</dict>
</plist>